<div class='route-container'>
  <h1>New game</h1>
  <div class="letter-container">
    <ul>
    <% @letters.each do |letter| %>
      <il><%= letter %></il>
    <% end  %>
    </ul>
  </div>
  <div class='form-container'>
    <form action="/score" method='POST'>
      <p>What is the longest word you can find?</p>
      <div class='textbox-with-button'>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="text" name="guess" class="text-input">
        <input type="submit" value="Play" class='submit-btn'>
      </div>
    </form>
  </div>
</div>
